@import 'const.styl'

.title-register
  padding: 0
  margin-top: 16vh
  color: btnColor
  font-size: 18px
  margin-bottom: 5px

.label-login
  color: highColor
  margin-bottom: 0
  margin-top: 12px
  padding: 0
