@import 'const.styl'

.btn-nav
  border: 1px solid highColor
  border-radius: 4px
  background-color: transparent
  color: highColor
  cursor: pointer
  &:hover
    color: white
    background-color: highColor
    
.container-table
  background-color: backgroundColor
  height: 100vh
  padding-top: 30px
  
.container-icons
  display: flex
  justify-content: center
  
.icon
  margin-right: 20px
  cursor: pointer
  &:hover
    color: highColor

.modal-header
  background-color: highColor
  color: white
  
.btn-modal
  background-color: highColor
  &:hover
    color: white
    
.btn-exit
  background-color: #EF2929FF
  &:hover
    color: white