@import 'const.styl'

.contenedor
  background-color: backgroundColor
  height: 100vh

.title-login
  padding: 0
  margin-top: 23vh
  color: btnColor
  font-size: 18px
  margin-bottom: 5px

.container-login
  background-color: containerColor
  padding: 15px
  border: 2px solid highColor

.input-login
  display: flex
  padding: 2px 5px
  height: 25px
  border: 1px solid white
  font-size: 15px

.btn-container
  padding: 0

.btn-login
  float: right
  font-size: 13px
  margin: 10px 0 0
  background-color: btnColor
  border: 0px
  border-radius: 2px
  cursor: pointer
  border-bottom: 3px solid highColor
  &:hover
    color: highColor
